<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ seo_title }}</title>
  <meta name="description" content="{{ seo_description }}">
  <meta name="keywords" content="">
  <meta name="author" content="">
  {{ html_google_tag_manager_header }}
  {{ html_google_analytics }}
  {{ html_facebook_pixel }}

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="{{ root_assets }}/assets/css/bundle.css">
  <link rel="icon" type="image/png" href="{{ root_assets }}/assets/img/favicon.png" />
</head>
<body>
  {{ html_google_tag_manager_body }}

  <section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-5-tablet is-4-desktop is-3-widescreen">
  
            <div class="content">
              <!-- Heading -->
              <h1 class="has-text-centered">
                Reset Password
              </h1>
  
              <!-- Text -->
              <p class="has-text-centered subtitle">
  
              </p>
            </div>
  
          <!-- Form -->
          <form action="" method="POST" class="mt-40 mb-40">
  
            <!-- Password -->
            <div class="field">
              <label for="password" class="label {{ size }} has-text-weight-normal">
                New password
              </label>
              <div class="control">
                <input type="password" class="input {{ size }}" id="password" name="password" minlength="8" required>
              </div>
              <p id="error-password" class="help is-danger">{{ error.password | formatDot }}</p>
            </div>
  
            <div class="field">
              <label for="confirmation" class="label {{ size }} has-text-weight-normal">
                Confirm new password
              </label>
              <div class="control">
                <input type="password" class="input {{ size }}" id="confirmation" name="confirmation" minlength="8" required>
              </div>
              <p id="error-confirmation" class="help is-danger">{{ error.confirmation | formatDot }}</p>
            </div>
  
            <!-- Submit -->
            <input type="hidden" name="token" value="{{ token }}">
            <input type="hidden" name="_csrf" value="{{ csrf_token }}">
            <div class="field">
              <div class="control">
                <button class="button is-primary is-fullwidth" type="submit">Change password</button>
              </div>
            </div>
  
          </form>
  
        </div>
        </div>
      </div> <!-- / .row -->
    </div> <!-- / .container -->
  </section>
  

  <script src="{{ root_assets }}/assets/js/bundle.js"></script>
</body>
</html>
