<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ nameAndTitle }}</title>
  <meta name="description" content="{{ description }}">
  <meta name="keywords" content="">
  <meta name="author" content="">
  {{ googleTagManagerHeader }}
  {{ googleAnalyticsCode }}
  {{ facebookPixelCode }}

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="{{ assetsRoot }}/assets/css/bundle.css">
  <link rel="icon" type="image/png" href="{{ assetsRoot }}/assets/img/favicon.png" />
</head>
<body>
  {{ googleTagManagerBody }}

  <nav x-data="initNavbar()" class="navbar is-fresh is-transparent no-shadow" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <h2 class="is-size-4 has-text-primary has-text-weight-semibold">{{ name }}</h2>
          <!--img src="{{ assetsRoot }}/img/logo/logo.svg" alt="" width="112" height="28"-->
        </a>
        <div class="navbar-burger" @click="openMobileMenu()">
          <span class="menu-toggle">
            <span class="icon-box-toggle" :class="{
                'active': mobileOpen,
                '': !mobileOpen
              }">
              <span class="rotate">
                <i class="icon-line-top"></i>
                <i class="icon-line-center"></i>
                <i class="icon-line-bottom"></i>
              </span>
            </span>
        </div>
      </div>
      <div id="navbar-menu" class="navbar-menu is-static" :class="{
          'is-active': mobileOpen,
          '': !mobileOpen
        }">
        <div class="navbar-end">
          <a href="/#product" class="navbar-item is-primary">
            Product
          </a>
          <a href="/#pricing" class="navbar-item is-primary">
            Pricing
          </a>
          <a href="/#faq" class="navbar-item is-primary">
            FAQ
          </a>
        </div>
        <div class="navbar-end">
          {% if userEmail != "" %}
          <a href="{{ appDomain }}" class="navbar-item is-primary">
            Dashboard <ion-icon name="arrow-forward-outline" size="small"></ion-icon>
          </a>
          {% else %}
          <a href="/login" class="navbar-item is-primary">
            Log in
          </a>
          <a href="/signup" class="navbar-item">
            <span class="button signup-button primary-btn raised">
              Sign up
            </span>
          </a>
          {% endif %}
        </div>
      </div>
    </div>  </nav>
  <nav x-data="initNavbar()"  x-on:scroll.window="scroll()" id="navbar-clone"
    class="navbar is-fresh is-transparent" role="navigation" aria-label="main navigation" :class="{
      'is-active': scrolled,
      '': !scrolled
    }">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <h2 class="is-size-4 has-text-primary has-text-weight-semibold">{{ name }}</h2>
          <!--img src="{{ assetsRoot }}/img/logo/logo.svg" alt="" width="112" height="28"-->
        </a>
        <div class="navbar-burger" @click="openMobileMenu()">
          <span class="menu-toggle">
            <span class="icon-box-toggle" :class="{
                'active': mobileOpen,
                '': !mobileOpen
              }">
              <span class="rotate">
                <i class="icon-line-top"></i>
                <i class="icon-line-center"></i>
                <i class="icon-line-bottom"></i>
              </span>
            </span>
        </div>
      </div>
      <div id="navbar-menu" class="navbar-menu is-static" :class="{
          'is-active': mobileOpen,
          '': !mobileOpen
        }">
        <div class="navbar-end">
          <a href="/#product" class="navbar-item is-primary">
            Product
          </a>
          <a href="/#pricing" class="navbar-item is-primary">
            Pricing
          </a>
          <a href="/#faq" class="navbar-item is-primary">
            FAQ
          </a>
        </div>
        <div class="navbar-end">
          {% if userEmail != "" %}
          <a href="{{ appDomain }}" class="navbar-item is-primary">
            Dashboard <ion-icon name="arrow-forward-outline" size="small"></ion-icon>
          </a>
          {% else %}
          <a href="/login" class="navbar-item is-primary">
            Log in
          </a>
          <a href="/signup" class="navbar-item">
            <span class="button signup-button primary-btn raised">
              Sign up
            </span>
          </a>
          {% endif %}
        </div>
      </div>
    </div>  </nav>

  
  <section class="hero is-medium">
    <div class="hero-body">
      <div class="container has-text-centered">
        <p class="subtitle">Something went wrong.</p>
        <p><a href="/">Go back to safety</a>.</p>
      </div>
    </div>
  </section>
  
  <footer class="footer footer-dark">
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="footer-logo">
            <h2 class="is-size-4 has-text-weight-semibold">{{ name }}</h2>
            <!--img src="{{ assetsRoot }}/img/logo/logo.svg"-->
          </div>
          &copy; 2020 {{ legalName }}
        </div>
        <div class="column">
          <div class="footer-column">
            <div class="footer-header">
              <h3>Legal</h3>
            </div>
            <ul class="link-list">
              <li><a href="/privacy-policy">Privacy policy</a></li>
              <li><a href="/terms-of-service">Terms of service</a></li>
            </ul>
          </div>
        </div>
        <div class="column">
          <div class="footer-column">
            <div class="footer-header">
              <h3>Follow Us</h3>
              <nav class="level is-mobile">
                <div class="level-left">
                  <a class="level-item" href="{{ socialGithub }}">
                    <span class="icon">
                      <ion-icon name="logo-github" size="large"></ion-icon>
                    </span>
                  </a>
                  <a class="level-item" href="{{ socialTwitter }}">
                    <span class="icon">
                      <ion-icon name="logo-twitter" size="large"></ion-icon>
                    </span>
                  </a>
                  <a class="level-item" href="{{ socialLinkedin }}">
                    <span class="icon">
                      <ion-icon name="logo-linkedin" size="large"></ion-icon>
                    </span>
                  </a>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>
  <script src="{{ assetsRoot }}/assets/js/bundle.js"></script>
</body>
</html>
