extends layout

block content
  h1= title
  p Welcome! This is a placeholder for your SaaS.
  p You're logged in as #{user.email}
  p Email verified: #{user.email_verified}
  p Subscription status: #{user.status}
  p #[a(href=user_url) User profile & settings]
  p #[a(href=logout_url) Logout]
