<!DOCTYPE html><html><head><title>{{ title }}</title>  <link rel="stylesheet" href="{{ root_assets }}/assets/style.css"></head><body>

    <h1>
        Welcome to {{ title }}.
    </h1>
    
    <div>
        {% if user.email %}
            Hello {{ user.email }}.
            {% if user.email_verified == false %}
                <div>
                    Please verify your email
                </div>
            {% else %}
                <div>
                    Your email is verified, thanks!
                </div>
            {% endif %}
    
            {% if user.subscription_id == null %}
                <div>
                    No active subscription
                </div>           
            {% else %}
                <div>
                     Your subscription is: {{ user.subscription_status }}
                </div>
            {% endif %}
    
            <div>
                <a href="/user/billing/subscribe">Go to billing</a>
            </div>
    
            <div>
                <a href="/logout">logout</a>
            </div>
        {% else %}
            <a href="/login">Login</a>
    
            <a href="/signup">Signup</a>
        {% endif %}
    </div>

</body></html>


