<!DOCTYPE html><html><head><title>{{ title }}</title>  <link rel="stylesheet" href="{{ root_assets }}/assets/style.css"></head><body>
    
    <h1>Signup</h1>

<form action="" method="POST">
    <div>
        <input type="email" id="email" name="email" value="name@address.com" required>
        {{error.email}}
    </div>
    <div>
        <input type="text" id="username" name="username" value="" >
        {{error.username}}
    </div>
    <div>
        <input type="password" id="password" name="password" value="password" minlength="8" required>
        {{error.password}}
    </div>
    <input type="hidden" name="_csrf" value="{{ csrf_token }}">
    <input type="submit" />
</form>

<div>
    {{error.message}}
</div>

</body>
</html>