<!DOCTYPE html><html><head><title>{{ title }}</title> 
  <link rel="stylesheet" href="{{ root_assets }}/assets/style.css">
  <script src="{{ root_assets }}/assets/stripe.js"></script>
  <script src="https://js.stripe.com/v3/"></script>
  <script>
    // This will create stipe client needed to perform 3dS checks.
    // Please, copy exacly this way
    const  stripe = Stripe("{{stripePublishableKey}}");
    const elements = stripe.elements();
  </script>
  <script type="module">
    // Custom styling can be passed to options when creating an Element.
    var style = {
      base: {
        // Add your base input styles here. For example:
        fontSize: '16px',
      },
    };

    // Create an instance of the card Element.
    var card = elements.create('card', {style});

    // Add an instance of the card Element into the `card-element` <div>.
    card.mount('#card-element');

    // This is where your scripr might change. It must fetch from your page
    // the plan id and the payment method id. In addition it can accept a monthly flag
    // to indicate that the monthly payment is required.
    // Finally, it needs the CSRF token.

    // 1. Attaching a listener to the form submit event
    const paymentForm = document.getElementById('payment-form');
    if (paymentForm) {
      paymentForm.addEventListener('submit', function (event) {
        event.preventDefault();

        // Getting value out of form.
        const data = new FormData(document.getElementById('payment-form'));
        const params = {}
        for (const [name,value] of data) {
          params[name] = value
        }

        if(params.plan && params.method) {
          // here we call the Stripe library passing: 
          // 1. the parameters we got from our page
          // 2. a success callback
          // 3. an error callback
          createSubscription(
            params,
            _ => alert('Purchase completed'),
            event => alert(event.error.message)
          )
        }
        else
          alert('Choose a plan and a payment method')
      });
    }


    const paymentMethodForm = document.getElementById('payment-method');
    if (paymentMethodForm) {
      // Create a token or display an error when the form is submitted.
      paymentMethodForm.addEventListener('submit', function(event) {
        event.preventDefault();

        // stripe.createToken(card)
        stripe
        .createPaymentMethod({
          type: 'card',
          card: card,
          // billing_details: {
            // name: billingName,
          // },
        })
        .then(function(result) {
          if (result.error) {
            // Inform the customer that there was an error.
            var errorElement = document.getElementById('card-errors');
            errorElement.textContent = result.error.message;
          } else {
            // Send the token to your server.
            // stripeTokenHandler(result.token);
            fetch('/api/v1/add-payment-token', {
              method: 'post',
              headers: {
                'Content-type': 'application/json',
                'CSRF-Token': _csrf // <-- is the csrf token as a header
              },
              body: JSON.stringify({
                ...result.paymentMethod
              }),
            })
            .then((response) => {
              console.log(response.json());    
            })
          }
        });
      });

    }
  </script>
</head>
<body>

<h1>Subscribe to plan</h1>

<div>
  {{ alert.text }}
</div>

<form action="/user/billing/subscribe" id="payment-form" method="POST">
  <div>
    <h2>Choose plan</h2>

    <!-- Display of the plans -->
    <ul>
      {% for plan in plans %}
        <!-- Single plan view -->
        <li>
          <input type="radio" id="plan" name="plan" value="{{plan.id}}" />
          <label for="{{plan.id}}">{{plan.name}} {{plan.price_year}} ({{plan.price_month}} when billed monthly)</label>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div>
    <h2>Choose payment method</h2>

    <!-- Display of methods of payment -->
    <ul>
      {% for method in account.payments_methods %}
      <!-- Single method view -->
      <li>
        <input type="radio" id="method" name="method" value="{{method.id}}" />
        <label for="{{method.id}}">xxxx-xxxx-xxxx-{{ method.card.last4 }} expiring on {{ method.card.exp_month }}/{{ method.card.exp_year }}</label>
      </li>
      {% endfor %}
    </ul>

    <!-- Monthly/yearly flag -->
    <input type="checkbox" id="monthly" name="monthly" />
    <label for="monthly">Pay monthly</label>
  </div>

  <input type="hidden" id="_csrf" name="_csrf" value="{{ csrf_token }}">

  <input type="submit" />
</form>



<!-- New payment method form -->
<div>
  <h2>Add a payment method</h2>

  <form id="payment-method">
  <div class="form-row">
    <label for="card-element">
      Credit or debit card
    </label>
    <div id="card-element">
      <!-- A Stripe Element will be inserted here. -->
    </div>

    <!-- Used to display Element errors. -->
    <div id="card-errors" role="alert"></div>
  </div>

  <input type="submit" />
</form>
</div>

</body>
</html>