<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ seo_title }}</title>
  <meta name="description" content="{{ seo_description }}">
  <meta name="keywords" content="">
  <meta name="author" content="">
  {{ html_google_tag_manager_header }}
  {{ html_google_analytics }}
  {{ html_facebook_pixel }}

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="{{ root_assets }}/assets/css/bundle.css">
  <link rel="icon" type="image/png" href="{{ root_assets }}/assets/img/favicon.png" />
</head>
<body>
  {{ html_google_tag_manager_body }}

  {% assign nav = layout_nav | default: 'default/nav' %}
  {% render nav, logo: logo, user: user %}

  
  <section class="hero is-medium">
    <div class="hero-body">
      <div class="container has-text-centered">
        <p class="title">404</p>
        <p>Page not found.</p>
      </div>
    </div>
  </section>
  
  <footer class="footer">
    <div class="container is-max-desktop">
      <div class="columns content">
        <div class="column is-one-quarter">
          <div class="footer-logo">
            <h3 class="is-size-4 has-text-weight-semibold">{{ name }}</h3>
            <!--img src="{{ root_assets }}/img/logo/logo.svg"-->
          </div>
          <p>&copy; 2021 {{ legal_company_name }}</p>
          <div class="level-left">
            {% if social_github %}
            <a class="level-item has-text-grey" href="{{ social_github }}">
              <span class="icon">
                <i class="fab fa-lg fa-github"></i>
              </span>
            </a>
            {% endif %}
            {% if social_twitter %}
            <a class="level-item has-text-grey" href="{{ social_twitter }}">
              <span class="icon">
                <i class="fab fa-lg fa-twitter"></i>
              </span>
            </a>
            {% endif %}
            {% if social_linkedin %}
            <a class="level-item has-text-grey" href="{{ social_linkedin }}">
              <span class="icon">
                <i class="fab fa-lg fa-linkedin"></i>
              </span>
            </a>
            {% endif %}
            {% for item in socials %}
            <a class="level-item has-text-grey" href="{{ item.url }}">
              <span class="icon">
                <i class="fab fa-lg fa-{{ item.name }}"></i>
              </span>
            </a>
            {% endfor %}
          </div>
  
        </div>
        <div class="column">
          <div class="columns mt-0">
  
            {% for menu in footer %}
            <div class="column pt-0">
              <div class="level-right">
                <div>
                  <div class="footer-header">
                    <h3 class="is-size-5 has-text-weight-normal is-uppercase" style="line-height: 1.75rem;margin-bottom: 1rem">{{ menu.title }}</h3>
                  </div>
                  <ul class="is-unstyled">
                    {% for item in menu.links %}
                    <li><a class="has-text-grey" href="{{ item.url }}">{{ item.name }}</a></li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
            {% endfor %}
  
            <div class="column pt-0">
            <div class="level-right">
            <div>
              <div class="footer-header">
                <h3 class="is-size-5 has-text-weight-normal is-uppercase" style="line-height: 1.75rem;margin-bottom: 1rem">Legal</h3>
              </div>
              <ul class="is-unstyled">
                <li><a class="has-text-grey" href="/privacy-policy">Privacy policy</a></li>
                <li><a class="has-text-grey" href="/terms-of-service">Terms of service</a></li>
              </ul>
            </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script src="{{ root_assets }}/assets/js/bundle.js"></script>
  {{ html_chatbot }}
</body>
</html>
